<div class="globalnav">

    <div class = "navbutton" id="back" (click)='onBack()'>
        <div class="icon-back-text-reverse center-block"></div>
    </div>

    <div class = "navbutton" id="info">
        <div class="icon-info-text-reverse center-block"></div>
    </div>

    <div class = "navbutton" id="favorite">
        <div class="icon-favorite-text-reverse center-block"></div>
    </div>

    <div class = "navbutton" id="stitch">
        <div class="icon-stitch-text-reverse center-block"></div>
    </div>

    <div class = "navbutton" id="tour">
        <div class="icon-tour-text-reverse center-block"> </div>
    </div>

    <div class = "navbutton" id="home" (click)='onHome()'>
        <div class="icon-home-text-reverse center-block"> </div>
    </div>

</div>
