

.icon-home-text-reverse, .icon-info-text-reverse, .icon-back-text-reverse,
.icon-stitch-text-reverse, .icon-favorite-text-reverse, .icon-tour-text-reverse {
  background-repeat: no-repeat;
  width: 60px;
  height: 72px;
  background-image: url(/app/assets/images/icons/sprite-icon-text.png);
  padding: 0px; }

.icon-home-text-reverse {
  background-position: -60px -144px; }

.icon-info-text-reverse {
  background-position: -60px 0px; }

.icon-back-text-reverse {
  background-position: -60px -72px; }

.icon-stitch-text-reverse {
  background-position: -60px -360px; }

.icon-favorite-text-reverse {
  background-position: -60px -432px; }

.icon-tour-text-reverse {
  background-position: -60px -504px; }

.icon-tour-text-reverse {
  background-position: -60px -504px; }


.sprite-icon, 
.icon-info, .icon-info-reverse, 
.icon-back, .icon-back-reverse, 
.icon-video, .icon-video-reverse, 
.icon-audio, .icon-audio-reverse,
.icon-keyboard, .icon-keyboard-reverse,
.icon-close, .icon-close-reverse, 
.icon-right, .icon-right-sm {
  background-repeat: no-repeat;
  width: 42px;
  height: 42px;
  background-image: url(/app/assets/images/icons/sprite-icon.png);
  padding: 0px; }

.icon-info {
  background-position: 0px 0px; }

.icon-info-reverse {
  background-position: -42px 0px; }

.icon-back {
  background-position: 0px -42px; }

.icon-back-reverse {
  background-position: -42px -42px; }

.icon-video {
  background-position: 0px -168px; }

.icon-video-reverse {
  background-position: -42px -168px; }

.icon-audio {
  background-position: 0px -210px; }

.icon-audio-reverse {
  background-position: -42px -210px; }

.icon-keyboard {
  background-position: 0px -252px; }

.icon-keyboard-reverse {
  background-position: -42px -252px; }

.icon-close {
  background-position: 0px -294px; }

.icon-close-reverse {
  background-position: -42px -294px; }

.icon-explore {
  /*magnifying glass, open background*/
  background-repeat: no-repeat;
  width: 72px;
  height: 72px;
  background-image: url(../images/layout/icon-explore.png);
  position: relative;
  bottom: 50px;
  float: right; }

.icon-right {
  background-position: 0px -378px; }

.icon-right-sm {
  /*customized size and position in order to fit into smaller space*/
  background-position: 0px -428px;
  width: 25px;
  height: 25px;
  margin-top: 5px; }