<div class="globalnav">

    <div class = "navbutton" id="back">
        <div class="icon-back-text-reverse center-block"></div>
    </div>

    <div class = "navbutton" id="info">
        <div class="icon-info-text-reverse center-block"></div>
    </div>

    <div class = "navbutton">
        <div class="icon-favorite-text-reverse center-block"></div>
    </div>

    <div class = "navbutton">
        <div class="icon-stitch-text-reverse center-block"></div>
    </div>

    <div class = "navbutton" id="home">
        <div class="icon-tour-text-reverse center-block"> </div>
    </div>

    <div class = "navbutton" id="home">
        <div class="icon-home-text-reverse center-block"> </div>
    </div>

</div>
