<!--From AQT...needs refactoring for AQT2-->
<div id="background_2">
	<div>
		<div class="row spaceabove20">
			<div class="col-xs-offset-1">
				<!--<div class="pg-title ">-->
					<div id="view_random-heading">
						<span class="txt-reverse">Random</span>
						<span class="txt-reverse">Selection</span>
					</div>
				<!--</div>-->
			</div>
		</div>

		<div class="display_panel">
			<div class="panel_img">
				</div>
		</div>

		<div class="display_panel">
			<div class="panel_img">
			</div>
		</div>

		<div class="display_panel">
			<div class="panel_img">
			</div>
		</div>

	</div>
	<globalnav></globalnav>
</div>
